@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body
{
    font-family: 'Playfair Display', sans-serif;
    background-color: #f7f6f9;
}

img
{
    max-width: 100%;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
}

.header
{
    background-image: url(img/Portada\ 5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    align-items: 200vh;
    padding: 200px 0;
}

.menu
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Codigo menu general*/
.menu .navbar ul li 
{
    position: relative;
    float: left;
}

.menu .navbar ul li a
{
    font-size: 20px;
    padding: 20px;
    color: #0703ef;
    font-weight: 600;
    display: block;
    transition: all .2s ease;
}

.menu .navbar ul li a:hover
{
    color: #ff5a2c;
}

.menu .navbar ul li ul
{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: #edf9f3;
    display: none;
}

.menu .navbar ul li ul li a
{
    font-size: 15px;
    text-transform: capitalize;
}

.menu .navbar ul li ul li ul
{
    position: absolute;
    top: 0;
    right: 300px;
}

.menu .navbar ul li ul li
{
    width: 100%;
}

.menu .navbar ul li:hover > ul
{
    display: initial;
}

#menu
{
    display: none;
}

.menu-icono
{
    width: 25px;
}

.menu label
{
    cursor: pointer;
    display: none;
}

.header-content
{
    display: flex;
}

.header-txt 
{
    flex-basis: 100%;
}

.header-txt h1
{
    font-size: 60px;
}

.header-txt p
{
    font-size: 25px;
}

/*Codigo para el parrafo*/
.popular
{
    padding: 50px 0;
}

.popular h1
{
    font-size: 35px;
    margin-bottom: 40px;
}

.popular p
{
    font-size: 15px;
}

.producto
{
    padding: 30px 700px;
}

/*Codigo para footer*/
.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

@media(max-width:991px)
{
    .menu
    {
        padding: 20px;
    }

    .menu label
    {
        display: initial;
    }

    .menu .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #c9d9db;
        display: none;
    }

    .menu .navbar ul li a:hover
    {
        color: #1b1726;
    }

    .menu .navbar ul li
    {
        width: 100%;
    }

    .menu .navbar ul li ul 
    {
        position: relative;
        width: 100%;
        left: 0;
    }

    .menu .navbar ul li ul li 
    {
        background-color: antiquewhite;
    }

    .menu .navbar ul li ul li ul
    {
        position: relative;
        width: 100%;
        left: 0;
    }

    #menu:checked ~ .navbar
    {
        display: initial;
    }

    .header
    {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt
    {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1
    {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .producto
    {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .footer
    {
        flex-direction: column;
        text-align: center;
    }
    
}